/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Navigation Bar */
header {
    background-color: #f1f1f1;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #000;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    padding: 100px 0;
    background-image: url(/images/Hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    color: #fff;
    font-size: 1.2em;
}

/* About Section */
.about {
    width: 1500px;
    display: flex;
    padding: 50px;
    margin: 0 auto;
}

.about-image {
    width: 600px;
    
}

.about-content {
    width: 50%;
    padding-top: 200px;

    padding-left: 50px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about p {
    font-size: 1em;
    line-height: 1.5;
}

/* Our Products Section */
.products {
    text-align: center;
    padding: 50px 0;
    margin: 0 auto; 
    max-width: 1500px; 
}
.products-2 {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto; 
    max-width: 1500px; 
}

.products h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #333;
    padding: 10px;
    border-radius: 50px;
}

.product img {
    width: 100%;
    height: auto;
    
    margin-bottom: 10px;
}

.product h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product p {
    font-size: 0.9em;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
